.layout {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.container {
    border: solid 1px rgb(32, 29, 29);
    padding: 20px 60px;
    width: 60vw;
}

.h-0 {
    padding: 0px;
}

.header,
.footer {
    height: 10%;
    background-color: rgb(13, 77, 167);
    width: 100%;
}

.main-container {
    min-height: 80vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin-top: 10px;
}