body {
    /* font-family: sans-serif; */
    margin: 0;
    height: 100vh;
}

.payment-options {
    display: flex;
    flex-direction: column;
}

.payment-options label {
    margin-bottom: 5px;
}

button {
    margin-top: 10px;
}