body {
    /* font-family: sans-serif; */
    margin: 0;
    height: 100vh;
}

.row {
    display: flex;
    /* flex-direction: row; */
}

button {
    margin-top: 10px;
}

.details-container label {
    margin-left: 10px;
    letter-spacing: 1px;
}

.details-container span {
    letter-spacing: 2px;
}